@charset "ISO-8859-1";



/*
CODIGO BASE DE LA WEB. NO TOCAR
cualquier modificacion de estilos sobre esta base se hara
en una hoja de estilos adicional y se enlazara al JSP correspondiente
*/
:root {
  /* Colores Azul Verdoso */
  --principal: #007F7E;
  --principalOscuro: #005D5C;
  --principalMuyOscuro: #004848;
  --principalClaro: #00A5A4;
  --principalMuyClaro: #00B8B7;

  /* contraste Dorado */
  --contraste: #FFD700;
  --contrasteOscuro: #CCA300;
  --contrasteClaro: #FFE066;
  
  /* Colores de Fondo */
  --colorFondoOscuro: #E0F7F7;
  --colorFondoClaro: #F5FEFE;
  
  /* Colores de Texto */
  --texto: #212121; 
  --textoClaro: #BDBDBD; 
  
  /* Tamaños */
  --sizeFuente: 12px;
  
  /* Fuentes */
  --fuente: 'Helvetica Neue', Arial, sans-serif;
  --fuenteContraste: 'Georgia', 'Times New Roman', serif;
  
  /* Alturas de cabecera y pie */
  --alturaCabecera: 180px;
  --alturaPie: 90px;

  /* Paddings*/
  --paddingGeneral: 5px;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--fuente);
	color: var(--texto);
	font-size:var(--texto);
}

/* Estilos de la cabecera */
header{
	height:var(--alturaCabecera);
	
	background-color: var(--principal);
	display:flex;
	flex-direction:column;
	justify-content: flex-end;
}

#sobremenu{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center ;
	padding: var(--paddingGeneral);
}

#sobremenu #head_izq{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:flex-start ;
}

#sobremenu #head_cen{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

#sobremenu #head_der{

	display:flex;
	flex-direction:row;
	height: 100%;
	justify-content: flex-end;
	align-items:flex-end ;
}

#sobremenu #head_der img{
	padding-left: var(--paddingGeneral);
}

h1{
	margin:10px;
	color:var(--contraste);
	font-family: var(--fuenteContraste);
	font-size:48px;
}


/* Estilos del menu */
nav{
	background-color: var(--principalOscuro);
	
}

.elem_menu{
	display:inline-block;
	list-style: none;
	padding-left: 0px;
}

.elem_menu > a{
	display:block;
	background-color:var(--principalOscuro);
	padding: 8px 30px;	
	color: var(--contraste);
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.elem_menu > a:visited{
	color: var(--contraste);
}

.elem_menu > a:hover{
	background-color:var(--principalClaro);
	color: var(--contrasteClaro);
}
.elem_menu > a:active{
	background-color:var(--contraste);
	color: var(--principalMuyOscuro);
}

.elem_menu > a > img{
	filter: invert(76%) sepia(89%) saturate(896%) hue-rotate(357deg) brightness(101%) contrast(102%);
}

.elem_menu > a:active > img {
	filter: invert(21%) sepia(11%) saturate(7500%) hue-rotate(148deg) brightness(90%) contrast(101%);
}

.seleccionado{
	background-color: var(--principalClaro) !important;
}

/* estilos del cuerpo */
main{	
	/* altura del main= todo menos la cabecera y el pie. tienen altura fija */
	min-height: calc(100vh - (var(--alturaCabecera) + var(--alturaPie)));
	background-color: var(--colorFondoClaro);	
}

#contenedor{
	padding:var(--paddingGeneral);
}


/* estilos del pie */
footer{
	height:var(--alturaPie);
	background-color: var(--principal);
	
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items: flex-start;

	width:100%;
}

